html {
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    color: #71A1D6;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;

    padding-top: 80px;
}

.subtitle {
    font-size: 1.5rem;
    color: #000;

    font-weight: 400;
}

/* header=
===========*/
.header {
    width: 100%;

    background-color: #131511;
    padding: 12px 0;

    position: absolute;
    top: 0;
    left: 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner img {
    margin-left: 30px;
}

/*navigation
=============*/
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.nav a {
    padding-left: 50px;
    font-weight: 300;

    transition: text-decoration .2s linear,
}

.nav a:focus {
    outline: 0;
}

.nav a:hover {
    text-decoration: underline;
}

.reg-log {
    margin-right: 70px;
    display: flex;
}

.reg-log a {

    padding: 16px 32px;
    margin-left: 50px;

    border-radius: 10px;
    background-color: #71A1D6;

    transition: .1s linear;
}

.reg-log a:active {
    background-color: #2B74C5;
}

.reg-log a:hover {
    box-shadow: 0px 0px 16px #71A1D6;
    cursor: pointer;
}

/*main
======*/

/*intro
=======*/
.intro {
    width: 100%;
    height: 100%;
    max-height: 673px;
    background: url("../img/1/intro_bg.jpg") center no-repeat;
}

.intro-content {
    height: 673px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-title {
    color: #fff;
    font-size: 4rem;

    margin-bottom: 40px;
    margin-top: 80px;
}

.intro-subtitle {
    margin-bottom: 50px;

    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}

/* form
==========*/
.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form select {
    width: 350px;
    height: 50px;

    font-size: 1rem;
    color: #fff;
    font-family: 'Roboto' ;
    font-weight: 300;

    background-color: #000;
    border: 0;

    padding-left: 15px;

    appearance: none;
}

.form-select {
    position: relative;
}

/*
.form-select:after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #fff transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -3.5px;

}


*/

.form select:hover {
    font-weight: 400;
    cursor: pointer;
}


.form-label {

    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #fff transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -3.5px;

    transition: .2s linear;
}

.form-label:hover {
    cursor: pointer;
}

.form-label2 {
    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -3.5px;


    border-style: solid;
    border-width: 0 6.5px 7px 6.5px;
    border-color: transparent transparent #ffffff transparent;
    opacity: 0;
}

.form select:focus + .form-label {
/*

    border-style: solid;
    border-width: 0 6.5px 7px 6.5px;
    border-color: transparent transparent #ffffff transparent;

*/

/*  transform: rotate(180deg)*/

    opacity: 0;
}


.intro-btn {
    display: flex;
    justify-content: flex-end;
}

.intro-btn button {
    font-family: 'Roboto';
    color: #fff;
    font-size: 1rem;

    padding: 15px 32px;

    background: #71A1D6;
    border-radius: 10px;

    border: 0;
    outline: 0;

    transition: background-color .1s linear;
}

.intro-btn button:active {
    background-color: #2B74C5;
}

.intro-btn button:hover {
    box-shadow: 0px 0px 16px #71A1D6;
    cursor: pointer;
}

/*services
============*/
.services {
    height: 938px;
    background: url("../img/2/bg.png") center no-repeat;
}

.services p {
    margin: 50px 0 40px;
}

.services-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.services-images img {
    border-radius: 10px;

    position: relative;
}

.example {
    width: 350px;
    height: 200px;
    position: relative;

    box-shadow: 0 0 16px 0 #939393;

    border-radius: 10px;
}

.services-images p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;

    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 1;

    transform: translate(-50%, 0);
}

/*about1
============*/
.about1 {
    margin-bottom: 80px;
}

.about1 h2 {
    margin-bottom: 50px;
}

.about1-content {
    display: flex;
}

.about1-content-left {
    justify-content: space-between;

    width: 50%;
}

.about1-content-right {
    width: 50%;
}

.about1-content-right img {
    margin-left: 125px;
    transform: translateY(80px);
}

.about1-content-inner {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-bottom: 50px;

}

.about1-content-inner-1 {
    width: 50%;
    height: 226px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

}

.about1-content-inner-2 {
    display: flex;

}

.about1-content-inner p,
.about1-content-inner-2 p {
    font-size: 1rem;

}

.circle {
    width: 160px;
    height: 160px;

    background-color: #F9CC98;
    border: 5px solid #000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.circle p {
    font-size: 3rem;

}

/*About2
=========*/
.about2 {
    width: 100%;
    max-width: 1920px;
    height: 790px;

    margin: 80px auto 0;

    position: relative;
}

.about2-bg {
    position: absolute;
    z-index: -1;
}

.about2-content {
    display: flex;
    justify-content: space-between;

}

.about2-content-inner {
    text-align: center;
}

.about2-content-inner img {
    margin: 80px 0 30px;
}

.about2-content-inner h3 {
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 10px;
}

.about2-content-inner p {
    color: #757575;
    font-weight: 400;
}

/*question
===========*/

.question {
    width: 1920px;
    height: 759px;
    background: url("../img/5/dog_bg.png") no-repeat;

    margin: 0 auto;
}

.question-content {
    width: 632px;
}

.question-content p {
    margin: 40px 0;

    font-size: 1.5rem;
    color: #000;
    font-weight: 400;
}

.question-form input{
    display: block;

    width: 445px;
    height: 66px;
    padding-left: 20px;

    font-size: 1.25rem;

    border: 1px #C6C6C6 solid;

}

.question-form input:first-child {
    border-radius: 10px 10px 0 0 ;
}

.question-form button {
    width: 445px;
    height: 66px;
    padding-left: 20px;
    text-align: center;

    font-size: 1.25rem;

    background-color: #71A1D6;

    color: #fff;
    font-weight: 600;
    border: 0;
    border-radius: 0 0 10px 10px;
}

.question-form button:hover {
    cursor: pointer;
}

/*reviews
==========*/
.reviews {
    width: 100%;
    max-width: 1920px;
    height: 809px;

    margin: 0 auto;

    background: url("../img/6/dog_bg.png") no-repeat;
}

.reviews .title {
    margin-bottom: 75px;
}

.reviews-content {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 84px;
    height: 84px;

    color: #71A1D6;
    font-size: 1rem;

    border: 3px solid #71A1D6;
    border-radius: 50%;

    transition: .1s linear;
}

.arrow-left p,
.arrow-right p {
    font-size: 40px;
}

.arrow-left p {
    color: #B5D5F9;
}

.arrow-left {
    left: -150px;
    bottom: 45%;

    border: 3px #B5D5F9 solid;
}

.arrow-left:hover,
.arrow-right:hover {
    cursor: pointer;
}

.arrow-right:hover {
    border: 5px #71A1D6 solid;
}



.arrow-right {
    right: -150px;
    bottom: 45%;
}

.reviews-content-inner {
    width: 255px;

    text-align: center;
}

.reviews-content-inner img {
    margin-bottom: 20px;
}

.reviews-content-stars {
    display: flex;
    justify-content: space-around;

    width: 160px;

    text-align: center;

    margin: 0 auto 7px;
}

.reviews-content-inner h4 {
    font-size: 1.25rem;
    font-weight: 400;

    margin-bottom: 12px;
}

.reviews-content-inner p {
    color: #909090;

    margin-bottom: 12px;
}

.comment-text {
    text-align: left;
}

.comment-text p {
    color: #000;
    margin-bottom: 10px;
}

.comment-text a {
    color: #909090;
    text-decoration: underline;
}

/*footer
========*/
.footer {
    width: 100%;
    height: 445px;
    background-color: #DFEEFF;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-inner h4 {
    margin-top: 50px;

    font-weight: 700;
    font-size: 1.25rem;
}

.footer-inner a,
.footer-inner p{
    color: #000;
    font-weight: 300;

    display: block;

    margin: 30px 0 25px;
}

.contacts p {
    margin-bottom: 10px;
}

.contacts p:last-child {
    font-weight: 500;
    margin: 0;
}

.contacts a {
    color: #000;
    font-weight: 500;
    margin: 0 0 25px;
}

.signature {
    position: absolute;
    bottom: -20px;
    right: -360px;

    width: 70px;

    transform: rotate(-120deg)

}

.container {
    position: relative;
}




















































